[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pillow = "*"
pyserial = "*"
scipy = "*"
reportlab = "*"

[dev-packages]
pyinstaller = "*"
