name: Build

on:
    workflow_dispatch: {}

jobs:
    build-windows:
        runs-on: windows-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.13"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  if (Test-Path requirements.txt) { pip install -r requirements.txt } else { Write-Host "No requirements.txt found." }
                  pip install pyinstaller

            - name: Build with PyInstaller
              working-directory: ${{ github.workspace }}
              run: |
                  pyinstaller pyCCDGUI.spec

            - name: Upload EXE artifact
              uses: actions/upload-artifact@v4
              with:
                  name: pySPEC-exe
                  path: dist/pySPEC.exe
